<!-- views/partials/roommates-list.ejs -->
<% var showFilterOption = function(label, label_tip, cBox_id, cBox_ng_model, cBox_ng_change, cBox_checked, 
                                    i, i_type, options, i_id, i_ng_init, i_ng_model, i_ng_change, 
                                    i_ng_options, i_disabled, i_extra, i_helper) { %>
    <div class="filter-group">
        <label class="text-muted" for="<%= i_id %>">
            <%= label %>
            <% if(label_tip) { %>
                <span style="font-weight: normal;">(<%= label_tip %>)</span>
            <% } %>
        </label>
        <div class="input-group">
            <span class="input-group-addon">
                <label for="<%= cBox_id %>" class="sideLabel"></label>
                <input type="checkbox" id="<%= cBox_id %>" 
                    <%- cBox_ng_model ? 'ng-model="'+cBox_ng_model+'"' : '' %>
                    <%- cBox_ng_change ? 'ng-change="'+cBox_ng_change+'"' : '' %>
                    aria-label="Checkbox for using <%= label %> to narrow search results." 
                    <%= cBox_checked ? 'checked' : '' %> />
            </span>
            <<%- i ? 'input type="'+i_type+'"' : 'select' %> 
                    class="form-control" 
                    id="<%= i_id %>" 
                    <%- i_ng_init ? 'ng-init="'+i_ng_init+'"' : '' %>
                    <%- i_ng_model ? 'ng-model="'+i_ng_model+'"' : '' %>
                    <%- i_ng_change ? 'ng-change="'+i_ng_change+'"' : '' %>
                    <%- i_ng_options ? 'ng-options="'+i_ng_options+'"' : '' %>
                    <%= i_disabled ? 'disabled' : '' %> 
                    <%- i_extra %> >
                <%
                    if(options) {
                        for(var x=0; x<options.length; x++) {
                            %>
                                <option value="<%- options[x].val %>"><%- options[x].label %></option>
                            <%
                        }
                    }
                %>
            </<%= i ? 'input' : 'select' %>>
            <% if(i_helper) { %>
            <span class="input-group-addon"><%= i_helper %></span>
            <% } %>
        </div>
    </div>
<% } %>
<div ng-app="roommatesApp" ng-controller="roomiesCtrl">
    <div class="container" id="roomieSearchContainer">
        <div class="jumbotron">
            <div class="row side-padded">
                <div class="col-md-9 mx-auto">
                    <div class="input-group input-group-huge">
                        <span class="input-group-addon glyphicon glyphicon-search"></span>
                        <input type="text" class="h1" id="roommateSearchBox" 
                            ng-model="searchName" placeholder="Search" />
                    </div>
                    <div id="advanced-search">
                        <%
                            showFilterOption(
                                'Start location',                               // label
                                '',                                             // label tip
                                'locationCheckbox',                             // checkbox-id
                                'includeLocation',                              // checkbox ng-model
                                'locationChangeHandler()',                      // checkbox ng-change
                                true,                                           // checkbox checked?
                                false,                                          // is input?
                                '',                                             // input type
                                null,                                           // select options
                                'searchLocation',                               // input id
                                'searchStartLocation = '+user.startLocation,    // select ng-init
                                'searchStartLocation',                          // select ng-model
                                'locationChangeHandler()',                      // select ng-change
                                'location.value as location.city group by location.continent for location in locations', // input ng-options
                                false                                           // input disabled?
                            );
                        %>
                        <%
                            var today = new Date();
                            showFilterOption(
                                'Start date',                                   // label
                                '+/- 1 mo',                                     // label tip
                                'startDateCheckbox',                            // checkbox-id
                                'includeDate',                                  // checkbox ng-model
                                '',                                             // checkbox ng-change
                                false,                                          // checkbox checked?
                                true,                                           // is input?
                                'month',                                        // input type
                                null,                                           // select options
                                'searchStartDate',                              // input id
                                '',                                             // input ng-init
                                'searchStartDate',                              // input ng-model
                                'updateDateString()',                           // input ng-change
                                '',                                             // input ng-options
                                true,                                           // input disabled?
                                'min="'+today.getFullYear()+'-'+(today.getMonth()+1)+'"' // extra
                            );
                        %>
                        <%
                            showFilterOption(
                                'Status',                                       // label
                                '',                                             // label tip
                                'statusCheckbox',                               // checkbox-id
                                'includeStatus',                                // checkbox ng-model
                                '',                                             // checkbox ng-change
                                false,                                          // checkbox checked?
                                false,                                          // is input?
                                '',                                             // input type
                                [
                                    {val: 'has-place', label: 'Has a place'},
                                    {val: 'no-place', label: 'Looking for a place'}
                                ],                                              // select options
                                'searchStatus',                                 // input id
                                'searchStatus = \'has-place\'',                 // input ng-init
                                'searchStatus',                                 // input ng-model
                                '',                                             // input ng-change
                                '',                                             // input ng-options
                                true,                                           // input disabled?
                                ''                                              // extra
                            );
                        %>
                        <%
                            var initResType = user.hasPlace ? user.currentResidence.residenceType :
                                                user.preferences.residenceType;
                            if(initResType == "idc")
                                initResType = "apartment";
                            showFilterOption(
                                'Residence type',                               // label
                                '',                                             // label tip
                                'resTypeCheckbox',                              // checkbox-id
                                'includeResType',                               // checkbox ng-model
                                '',                                             // checkbox ng-change
                                false,                                          // checkbox checked?
                                false,                                          // is input?
                                '',                                             // input type
                                [
                                    {val: 'apartment', label: 'Apartment'},
                                    {val: 'condo', label: 'Condominium'},
                                    {val: 'house', label: 'House'},
                                    {val: 'other', label: 'Other'}
                                ],                                              // select options
                                'searchResType',                                // input id
                                'searchResType = \''+initResType+'\'',          // input ng-init
                                'searchResType',                                // input ng-model
                                '',                                             // input ng-change
                                '',                                             // input ng-options
                                true,                                           // input disabled?
                                ''                                              // extra
                            );
                        %>
                        <%
                            showFilterOption(
                                'Gender',                                       // label
                                '',                                             // label tip
                                'genderCheckbox',                               // checkbox-id
                                'includeGender',                                // checkbox ng-model
                                '',                                             // checkbox ng-change
                                false,                                          // checkbox checked?
                                false,                                          // is input?
                                '',                                             // input type
                                [
                                    {val: 'female', label: 'Female'},
                                    {val: 'male', label: 'Male'},
                                    {val: 'other', label: 'Other'}
                                ],                                              // select options
                                'searchGender',                                 // input id
                                'searchGender = \''+user.gender+'\'',           // input ng-init
                                'searchGender',                                 // input ng-model
                                '',                                             // input ng-change
                                '',                                             // input ng-options
                                true,                                           // input disabled?
                                ''                                              // extra
                            );
                        %>
                        <%
                            showFilterOption(
                                'Age',                                          // label
                                '+/- 3 yrs',                                    // label tip
                                'ageCheckbox',                                  // checkbox-id
                                'includeAge',                                   // checkbox ng-model
                                '',                                             // checkbox ng-change
                                false,                                          // checkbox checked?
                                true,                                           // is input?
                                'number',                                       // input type
                                null,                                           // select options
                                'searchAge',                                    // input id
                                'searchAge = '+user.age,                        // input ng-init
                                'searchAge',                                    // input ng-model
                                '',                                             // input ng-change
                                '',                                             // input ng-options
                                true,                                           // input disabled?
                                'min="18" max="100"',                           // extra
                                'years'                                         // helper label
                            );
                        %>
                        <%
                            showFilterOption(
                                'Field of work',                                // label
                                '',                                             // label tip
                                'fieldCheckbox',                                // checkbox-id
                                'includeField',                                 // checkbox ng-model
                                '',                                             // checkbox ng-change
                                false,                                          // checkbox checked?
                                false,                                          // is input?
                                '',                                             // input type
                                null,                                           // select options
                                'searchField',                                  // input id
                                'searchField = \''+user.field+'\'',             // input ng-init
                                'searchField',                                  // input ng-model
                                '',                                             // input ng-change
                                'field.value as field.name for field in fields',// input ng-options
                                true,                                           // input disabled?
                                ''                                              // extra
                            );
                        %>
                        <%
                            showFilterOption(
                                'Role',                                         // label
                                '',                                             // label tip
                                'roleCheckbox',                                 // checkbox-id
                                'includeRole',                                  // checkbox ng-model
                                '',                                             // checkbox ng-change
                                false,                                          // checkbox checked?
                                false,                                          // is input?
                                '',                                             // input type
                                [
                                    {val: 'full-time', label: 'Full-time'},
                                    {val: 'resident', label: 'Resident'},
                                    {val: 'intern', label: 'Intern'},
                                    {val: 'other', label: 'Other'}
                                ],                                              // select options
                                'searchRole',                                   // input id
                                'searchRole = \''+user.role+'\'',               // input ng-init
                                'searchRole',                                   // input ng-model
                                '',                                             // input ng-change
                                '',                                             // input ng-options
                                true,                                           // input disabled?
                                ''                                              // extra
                            );
                        %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="roomiesContainer" role="main" infinite-scroll="loadMoreResults()" infinite-scroll-distance="2">
        <% include user-profile-angular.ejs %>
    </div>
</div>
<!-- Message Form Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/message" method="post" id="message-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="messageModalTitle">
                        Message
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger error-message" style="font-weight: bold;" 
                            data-message="Please complete the missing or invalid fields.">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> <span class="msg"></span>
                    </div>
                    <div class="alert alert-success success-message" style="font-weight: bold;" 
                            data-message="Success!">
                        <span class="glyphicon glyphicon-ok"></span> <span class="msg"></span>
                    </div>
                    <% include message-form.ejs %>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-4 text-left">
                            <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="col-xs-8">
                            <button type="button" class="btn btn-success btn-send">
                                <span class="glyphicon glyphicon-send"></span> 
                                Send Message
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<a href="javascript:;" id="backToTop" class="btn btn-default" role="button">
    <span class="glyphicon glyphicon-arrow-up"></span> Back to top
</a>