<!-- User profile -->
<%
    var isEmail = typeof message !== "undefined";
    // Add string capitalize function to ejs.
    String.prototype.capitalize = function() {
        return this.charAt(0).toUpperCase() + this.slice(1);
    };
    var showData = function(label, glyphicon, id, data) {
        %>
        <p>
            <% if(!isEmail) { %>
                <span class="tip" data-toggle="tooltip" data-placement="auto" title="<%= label %>">
                    <span class="glyphicon glyphicon-<%= glyphicon %> text-<%= user.hasPlace ? 'info' : 'primary' %>"></span>
            <% } else { %>
                    <label class="bg-<%= user.hasPlace ? 'info' : 'primary' %>"><%= label %>:</label>
            <% } %>
                    <span id="<%= id %>"><%= data %></span>
            <% if(!isEmail) { %>
                </span>
            <% } %>
        </p>
        <%
    };
%>
<div class="profile-card">
    <div class="inner-container">
        <div class="row profile-container bg-<%= user.hasPlace ? 'info' : 'primary' %>">
            <div class="col col-sm-4">
                <div class="btn-circle-lg btn-photo" style="background-image: url('<%= user.photoUrl %>');">
                    <% if(isEmail) { %>
                        <img src="<%= user.photoUrl %>" />
                    <% } %>
                </div>
            </div>
            <div class="col col-sm-8">
                <h2><%= user.name %></h2>
                <p><strong><%= user.position.capitalizeAll() %> (<%= user.role.capitalizeAll() %>)</strong></p>
                <%
                    // Find location in array of objects.
                    var locationName = "";
                    var idx = user.startLocation;
                    var j = 0;
                    while(locations[j].cities.length < idx) {
                        idx -= locations[j].cities.length;
                        j++;
                    }
                    locationName = locations[j].cities[idx];
                %>
                <p><%= locationName %></p>
            </div>
            <% if(user.hasPlace) { %>
                <span class="tip float text-info" data-toggle="tooltip" data-placement="auto" title="This Noogler has a residence already">
                    <% if(!isEmail) { %>
                    <span class="glyphicon glyphicon-ok"></span> 
                    <% } %>
                    <%= isEmail ? 'Already has a place' : 'Has Place' %>
                </span>
            <% } else { %>
                <span class="tip float text-primary" data-toggle="tooltip" data-placement="auto" title="This Noogler is looking for a residence">
                    <% if(!isEmail) { %>
                    <span class="glyphicon glyphicon-search"></span> 
                    <% } %>
                    <%= isEmail ? 'Looking for a place' : 'Looking' %>
                </span>
            <% } %>
        </div>
        <div class="data-container">
            <div class="row">
                <div class="col col-xs-6">
                    <% showData('Start date', 'calendar', 'dateToFormat', isEmail ? startDate : user.startDate); %>
                </div>
                <div class="col col-xs-6">
                    <% 
                        var duration;
                        var durationLabel = "Lease duration";
                        if(user.hasPlace) {
                            duration = user.currentResidence.durationInMonths
                        } else {
                            duration = user.preferences.durationInMonths;
                            durationLabel = "Desired stay duration";
                        }
                        if(duration == -1)
                            duration = "Any period";
                        else
                            duration = duration + " months";
                        showData(durationLabel, 'time', '', duration);
                    %>
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-6">
                    <% 
                        var resType;
                        var resTypeLabel = "Type of residence";
                        if(user.hasPlace) {
                            resType = user.currentResidence.residenceType
                        } else {
                            resType = user.preferences.residenceType;
                            resTypeLabel = "Desired residence";
                        }
                        if(resType == "idc")
                            resType = "Anything";
                        else
                            resType = resType.capitalize();
                        showData(resTypeLabel, 'home', '', resType);
                    %>
                </div>
                <div class="col col-xs-6">
                    <% 
                        var numRoommates;
                        var roommatesLabel = "Available/vacant rooms";
                        if(user.hasPlace) {
                            numRoommates = user.currentResidence.vacantRooms
                        } else {
                            numRoommates = user.preferences.roommates;
                            roommatesLabel = "Desired roommates";
                        }
                        var roommatesDataText = "+"+numRoommates+" "+(numRoommates>1?"people":"person");
                        showData(roommatesLabel, 'user', '', roommatesDataText);
                    %>
                </div>
            </div>
            <div class="row">
                <% if(user.hasPlace) { %>
                    <div class="col col-xs-6">
                        <% showData('City of residence', 'map-marker', '', user.currentResidence.location); %>
                    </div>
                    <div class="col col-xs-6">
                        <% showData('Bathrooms in residence', 'tint', '', user.currentResidence.bathrooms + " bathrooms"); %>
                    </div>
                <% } else { %>
                    <div class="col col-xs-12">
                        <% showData('Preferred cities to live in', 'map-marker', '', user.preferences.locations.join(', ')); %>
                    </div>
                <% } %>
            </div>
            <div class="row">
                <div class="col col-xs-12 factors">
                    <p>
                        <% if(!isEmail) { %>
                        <span class="tip" data-toggle="tooltip" data-placement="auto" title="Most important factors">
                            <span class="glyphicon glyphicon-heart text-<%= user.hasPlace ? 'info' : 'primary' %>"></span> 
                        <% } %>
                            <label class="bg-<%= user.hasPlace ? 'info' : 'primary' %>"><%= isEmail ? 'Importance ratings (1 - least, 3 - most):' : '' %></label>
                            <% if(!isEmail) { %>
                                <span id="factorsToSort" data-factors='<%- JSON.stringify(user.factors) %>'></span>
                            <% } else { %>
                                <% include factors-sliders.ejs %>
                            <% } %>
                        <% if(!isEmail) { %>
                        </span>
                        <% } %>
                    </p>
                </div>
            </div>
            <div class="row">
                <p class="desc" data-desc="<%= user.aboutMe %>">
                    <% if(isEmail) { %>
                        <label class="bg-primary" style="display: block; width: 100%; float: left; background: #eee;">About Me:</label>
                    <% } %>
                    <span><%= user.aboutMe %></span>
                    <% if(!isEmail) { %>
                    <a href="javascript:;" class="more" onclick="toggleReadMore(event,this);">More</a>
                    <% } %>
                </p>
            </div>
        </div>
        <div class="message-container">
            <div class="row email">
                <a href="<%- isEmail ? 'mailto:'+user.email : 'javascript:;' %>" data-toggle="tooltip" data-placement="auto" title="Your email is not publicly visibile. When other users send you messages, you will receive them at this email." class="btn btn-<%= user.hasPlace ? 'info' : 'primary' %>">
                    <%= isEmail ? 'Reply to '+user.name.split(' ')[0]+': ' : '' %><%= user.email %>
                </a>
            </div>
        </div>
    </div>
</div>