<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= subject %></title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="cosmo-bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="email.css">
</head>
<body>
    <div class="profile-card">
        <h1>Hi <%= recipientName.split(' ')[0] %>,</h1>
        <p>
            You have received a new message on 
            <strong><a href="https://my-roomm8.herokuapp.com/">roomM8</a></strong>! 
        </p>
        <p>
            The user's message and roomM8 profile are below. To reply, simply reply
            to this email, or send a new email to their email address:
            <strong><a href="mailto:<%= user.email %>"><%= user.email %></a></strong>.
            Happy matching!
        </p>
    </div>
    <div class="profile-card">
        <div class="inner-container">
            <div class="row profile-container message-title bg-<%= user.hasPlace ? 'info' : 'primary' %>" style="padding: 20px; text-align: left;">
                <h2><%= subject %></h2>
            </div>
            <div class="data-container">
                <div class="row">
                    <p>
                        <%= message %>
                    </p>
                    <h3 style="text-align: right;"> ~ <%= user.name %></h3>
                </div>
            </div>
        </div>
    </div>
    <% var isUserRegistered = typeof user !== "undefined"; %>
    <% include ../partials/user-profile.ejs %>
    <div class="profile-card">
        <p>
            <strong>What's this?</strong>
        </p>
        <p>
            You received this email because you signed up for roomM8, a web app designed
            to help Nooglers find roommates. To stop receiving messages in your inbox, head over to 
            <a href="https://my-roomm8.herokuapp.com/">roomM8</a>, where you can login
            and delete your profile.
        </p>
        <p>
            <% 
                // pad() from: http://stackoverflow.com/a/10073788/3673087
                function pad(n, width, z) {
                    z = z || '0';
                    n = n + '';
                    return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
                }
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();
                var urlDate = yyyy+'-'+pad(mm,2)+'-'+pad(dd,2);
            %>
            If you received this email by mistake, please ignore it. If this user
            is harassing you, please do not reply. Report them immediately by filling
            out <a href="https://docs.google.com/forms/d/e/1FAIpQLSd3uunbY4qVqRCIKHUCf68zyd7MmSBAKJVV_Q0EF4bGPheRyA/viewform?entry.26482081=<%= recipientName %>&entry.1451747632=<%= user.name.replace(/\s/g, '+') %>&entry.140413297=<%= user.email %>&entry.612708198&entry.1209335636=<%= urlDate %>&entry.1017092826&entry.134775968">this form</a>. Thank you.
        </p>
    </div>
</body>
</html>